* {
    padding: 0;
    margin: 0;
}


@font-face {
    font-family: 'kino';
    src: url("font/KINO.ttf");
}

@font-face {
    font-family: 'hannari';
    src: url("font/Hannari.otf");
}

@font-face {
    font-family: 'basic-reg';
    src: url("font/Trebuchet MS.ttf");
}

@font-face {
    font-family: 'basic-bold';
    src: url("font/Trebuchet MS Bold.ttf");
}

body {
    width: 100%;
    background-color: #fff7e1;
    color: #c44100;
}

section {
    padding-top: 5%;
    margin-top: 5%;
}


header {
    background-color: #c44100;
    opacity: 0.85;
    height: 45px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
}

header a {
    text-decoration: none;
    color: #fff7e1;
    font-family: 'kino';
    font-size: 1.8em;
}

header a:hover {
    color: #ffd042;
    font-size: 2em;
    transition: 0.5s;
}

.firstView__nav {
    display: block;
    margin: 0 auto;
}

header ul {
    width: 80%;
    margin: 0 auto;
    padding-top: 10px;
}

.firstView__nav ul li {
    display: inline-block;
    float: left;
    margin: 0 3%;
}

.firstView {
    background: #000 url(images/first-view.png);
    height: 800px;
    background-size: cover;
}


.firstView__center {
    margin: 0 auto;
    width: 80%;
    padding-top: 80px;
}

.firstView__center .bistro-rie {
    font-family: 'kino';
    font-size: 10em;
    text-align: left;
    color: #fff7e1;
}

.firstView__center .sohosai {
    font-family: 'kino';
    font-size: 5em;
    text-align: right;
    color: #fff7e1;
    margin-top: 7%;
}

.firstView__txt p {
    color: #ffd042;
    font-family: 'hannari';
    text-align: center;
    font-size: 1.3em;
    display: block;
    float: left;
    margin: 10% 5%;
}


h1 {
    font-family: 'basic-bold';
    font-size: 2.5em;
    margin-left: 9%;
}

h2 {
    font-family: 'hannari';
    font-size: 2em;
    margin-left: 4.5%;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
}

h3 {
    font-family: 'basic-reg';
    font-size: 1.8em;
    margin-left: 11%;
    margin-bottom: 10px;
    /*    border-bottom: solid 10px #ffd042;*/
    /*    display:inline-block*/
}

h4 {
    font-family: 'basic-reg';
    font-size: 1.3em;
    margin-left: -20px;
}

h5 {
    font-family: 'hannari';
    font-size: 1.2em;
    margin-left: 5px;
}

.under {
  background: linear-gradient(transparent 60%, #ffd042 40%);
}

.under__2 {
  background: linear-gradient(transparent 60%, #c44100 40%);
}

.menu__box__element__line {
    padding: 0.5em 1em;
    margin: 1em 0;
    color: #c44100;
    border-left: dashed 2px #ffd042;
    /*左線*/
    /*    border-right: double 3px #4ec4d3;右線*/
    padding: 8%;
}

.menu__box__element__line p {
    margin: 0;
    padding: 0;
}


article {
    font-family: 'hannari';
}

#menu li {
    font-family: 'hannari';
}

.line {
    float: left;
}

.menu__box {
    display: flex;
    width: 70%;
    margin: 0px auto 2%;
}

.menu__box__element {
    width: 35%;
}

.menu__box__element li {
    list-style: none;
}

.cocktail__box {
    display: flex;
    width: 70%;
    margin: 0 auto 150px;
}

.cocktail__box__element {
    width: 20%;
    /*    position: relative;*/
}

.cockatail__box__element__pic {
    height: 200px;
    margin: 0 auto;
    position: relative;
    padding: 20% 20%;
}

.cockatail__box__element__pic img {
    display: block;
    position: absolute;
    width: 50%;
    bottom: 0;
    margin: 0 5%;
}

.lemon {
    position: absolute;
    z-index: -1;
    display: block;
    padding: 1% 2%;
    width: 10%;
}



.cocktail__box__element p {
    /*    display: block;*/
    /*    position: absolute;*/
    text-align: center;
    margin: 70px auto;
    font-size: 1.3em;
    position: relative;
}

.cocktail__box__element p:hover {
   
}


.pasta__box {
    display: flex;
    width: 80%;
    margin: 0 auto;
}

.pasta__box__element {
    width: 30%;
    margin: 25px;
}

.pasta__box__element img {
    margin-bottom: 40%;
    display: block;
    margin: 0 auto;
}

.pasta__box__element p {
    text-align: center;
}

.fork {
    position: absolute;
    z-index: -1;
    display: block;
    width: 60%;
    padding: 10% 20%;
}

.pasta__box__element .name {
    height: 30%;
    margin-top: 30%;
    position: relative;
/*    display: table;*/
}

.pasta__box__element .name p {
    font-size: 1.2em;
/*    display: block;*/
/*    display: table-cell;*/
/*    vertical-align: middle;*/
}

.explain {
    margin-bottom: 20px;
}

.explain p {
    font-size: 0.8em;
}


.sweets__box {
    display: flex;
    width: 70%;
    margin: 0 auto 7%;
}

.sweets__box__element {
    width: 20%;
    margin: 20px;
    padding-bottom: 5%;
}

.sweets__box__element p {
    text-align: center;
    margin: 70px auto;
    font-size: 1em;
    position: relative;
}

.sweets__box__element__pic {
    height: 45%;
    position: relative;
    padding: 10px;
}

.sweets__box__element__pic img {
    display: block;
    margin: 0 auto;
    position: absolute;
    width: 80%;
    bottom: 0;
}

.cookie {
    position: absolute;
    z-index: -1;
    display: block;
    padding: 2% 1.5%;
    width: 8%;
}

#ensemble {
    background: url(images/ensemble.png);
    position: relative;
    padding: 5% 0px;
}

.ensemble__box {
    background-color: #000;
    color: #fff7e1;
    opacity: 0.4;
    display: flex;
    width: 60%;
    margin: 0 auto;
    padding: 1% 5%;
    display: flex;
    position: relative;
}


.ensemble__box__element {
    margin: 40px;
    width: 50%;
}

.ensemble__box__element .day {
    font-size: 1.8em;
    color: #fff7e1
    font-weight: 1000;
}

.ensemble__box__element .time {
    font-size: 1.4em;
    line-height: 170%;
    margin: 0 auto;
}

.detail__shop {
    display: flex;
    width: 60%;
    margin: 0 auto;
}

iframe {
    display: block;
    margin: 0 auto;
}

.detail__shop__map {
    width: 50%;
    margin: 0 auto;
}


.detail__shop__txt {
    width: 50%;
    margin: 0 auto;
}

.detail__shop__txt__box {
    padding: 2%;
    width: 70%;
    margin: 0 auto;
}

.detail__shop__txt__box .title {
    font-size: 1.7em;
    margin-bottom: 1em;
    border-bottom: #ffd042 2px;
}

/*色の変わる線について*/
h6 {
    border-bottom: solid 3px #ffd042;
    position: relative;
    font-size: 1.8em;
    margin-bottom: 10%;
}

h6:after {
    position: absolute;
    content: " ";
    display: block;
    border-bottom: solid 3px #c44100;
    bottom: -3px;
    width: 20%;
}

.detail__shop__txt__box .data {
    margin-left: 10em;
    line-height: 2.5em;
}

.detail__shop__txt__box p {
    margin-left: 10%;
}

.detail__band {
    width: 60%;
    margin: 10% auto;
}

.detail__band .title {
    font-size: 1.5em;
    margin-bottom: 1em;
}

.detail__band__txt {
    width: 100%;
    margin: 0 auto;
    line-height: 2.5em;
}

/*カギカッコについて*/
.kakko {
    position: relative;
    padding: 1em 3em;
}

.kakko:before,
.kakko:after {
    content: '';
    width: 100px;
    height: 70px;
    position: absolute;
    display: inline-block;
}

.kakko:before {
    border-left: solid 2px #ffd042;
    border-top: solid 2px #ffd042;
    top: 0;
    left: 0;
}

.kakko:after {
    border-right: solid 2px #ffd042;
    border-bottom: solid 2px #ffd042;
    bottom: 0;
    right: 0;
}

.kakko p {
    margin: 0;
    padding: 0;
}




.detail__sns {
    height: 200px;
}


.detail__sns__box {
    width: 30em;
    margin: 0 auto;
}

.detail__sns__box a {
    font-size: 3em;
    display: block;
    margin: 0 auto;
    text-align: center;
    color: #c44100;
}

.detail__sns__box a:hover {
    /*    margin: 0 20px;*/
    color: #ffd042;
    transition: 0.3s;
}

.detail__sns__box__element {
    display: inline-block;
    width: 32%;
    margin: 0 auto;
}

footer {
    background-color: #ffd042;
    text-align: center;
    padding: 5px;
    color: #c44100;
}



/*ふわっと*/
.fuwatAnime {
    -webkit-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 2.0s;
    -ms-animation-duration: 2.0s;
    animation-duration: 2.0s;
    -webkit-animation-name: fuwatAnime;
    -ms-animation-name: fuwatAnime;
    animation-name: fuwatAnime;
    visibility: visible !important;
}

@-webkit-keyframes fuwatAnime {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@keyframes fuwatAnime {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}
